<mat-card class="election">
	<mat-card-title>{{election.title}}</mat-card-title>
	<h3 *ngIf="election.winner">Winner: {{election.winner.name}}</h3>
  <mat-accordion multi="true" togglePosition="before">
	<mat-expansion-panel expanded="true">
		<mat-expansion-panel-header>
			<mat-panel-title>
				Candidates
			</mat-panel-title>
		</mat-expansion-panel-header>
		<mat-list>
			<mat-list-item *ngFor="let candidate of election.candidates">
				{{candidate.name}}
			</mat-list-item>
		</mat-list>
	</mat-expansion-panel>
	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>
				Rounds
			</mat-panel-title>
		</mat-expansion-panel-header>
		<app-round *ngFor="let round of election.rounds; let i=index" [round]="round" [index]="i"></app-round>
	</mat-expansion-panel>
  </mat-accordion>
</mat-card>